/* tiles --> color palette correction */

    .format-tiles li.activity.subtile .activityname h4 {
    font-size: 1em;
    font-weight: bold!important;
    }

.format-tiles .course-content ul.tiles .tile, .format-tiles li.section:not(#section-0) .course-section-header {
    border-top-color: #eab819!important;
    border-radius: 0;
}
.format-tiles .sectiontitle::after, .format-tiles .badge-info {
    background-color: #eab819!important;
}
.format-tiles .course-content li.activity.label h1, .format-tiles .course-content .section li.activity.label h2, .format-tiles .course-content li.activity.label h3, .format-tiles .course-content li.activity.label h4, .format-tiles .editor_atto_content_wrap h1, .format-tiles .editor_atto_content_wrap h2, .format-tiles .editor_atto_content_wrap h3, .format-tiles .editor_atto_content_wrap h4 {
    border-left-color: #eab819!important;
}

/* filter codes --> containing the background */

.fc-categorycards {
    background-size: contain!important;
}

.card-img-top {
    background-size: contain!important;
}

.block_completion_progress .progressBarCell.futureNotCompleted {
    background-color: #5a0cb9!important;
}

.block_completion_progress .progressBarCell.completed {
    background-color: #00ff00!important;
}