/* tiles --> color palette correction */

/* seeking solution */

/* filter codes --> containing the background */

    .format-tiles li.activity.subtile .activityname h4 {
    font-size: 1em;
    font-weight: bold!important;
    }

.fc-categorycards {
    background-size: contain!important;
}

.card-img-top {
    background-size: contain!important;
}

.block_completion_progress .progressBarCell.futureNotCompleted {
    background-color: #5a0cb9!important;
}

.block_completion_progress .progressBarCell.completed {
    background-color: #00ff00!important;
}